/*:root {
  --main-bg-color: #3A8BC2;
  --main-header-bg-color: #BD986B;
  --main-font-color: #05584B;
  --main-reverse-bg-color: ##F0F0F0;
  --main-reverse-font-color: ##F0F0F0;
  --main-link-color: #333;
  --main-link-hover-color: #999;
  --light-bg-color: ##F0F0F0;

  --table-odd-bg-color: var(--light-bg-color:);
  --table-even-bg-color: ##F0F0F0;

  --btn-bg-color: #5B9ACF;
  --btn-font-size: 14px;
}*/

/* natrual and earthy */
/*:root {
  --main-bg-color: #8E8741;
  --main-header-bg-color: #BD986B;
  --main-font-color: #05584B;
  --main-reverse-bg-color: ##F0F0F0;
  --main-reverse-font-color: ##F0F0F0;
  --main-link-color: #333;
  --main-link-hover-color: #999;  
  --light-bg-color: #FBEEC1;

  --table-odd-bg-color: var(--light-bg-color:);
  --table-even-bg-color: #fofofo;

  --btn-bg-color: #659EBC;
  --btn-font-size: 14px;
}*/

/* Corporate */
:root {

  --mid-blue: #265077;
  --dk-blue: #022140;
  --lt-purple: #86B3D1;
  --dk-purple: #494B68;
  --dk-green: #1E4258;
  --olive: #2D5F5D;
  --lt-green: #99CED3;

  --main-bg-color: var(--dk-green);
  --main-header-bg-color: var(--main-bg-color);
  --main-font-color: var(--dk-blue);
  --main-reverse-bg-color: #99CED2;
  --main-reverse-font-color: #f0f0f0;
  --main-link-color: var(--dk-purple);
  --main-link-hover-color: #999;
  --light-bg-color: #DBDFEA;

  --table-odd-bg-color: var(--light-bg-color);
  --table-even-bg-color: #F0F0F0;

  --btn-bg-color: var(--dk-purple);
  --btn-font-size: 14px;

}

body {
  background-color: var(--lt-purple);
  background-image: url("http://localhost/asm/importproductspec/assets/client/images/ship4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 100%;
  background-size: cover;
}

input {
  background-color: var(--main-reverse-font-color);
}

label {
  padding-left: 10px;
}

table {
  width: 100%;
  margin-bottom: 0rem;
  background-color: transparent
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: var(--table-odd-bg-color);
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: var(--table-even-bg-color);
}

tr.table-sub-header {
  color: var(--main-font-color);
  background-color: var(--main-reverse-bg-color);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
  font-weight: normal;
}

a {
  color: var(--main-link-color);
}

a:hover {
  color: var(--main-link-hover-color)
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: var(--btn-bg-color);
  color: var(--main-reverse-font-color);
  border: 1px solid var(--btn-bg-color);
  font-size: var(--btn-font-size);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  background: var(--main-reverse-bg-color);
  border: 1px solid var(--btn-bg-color);
  color: var(--btn-bg-color);
  font-size: var(--btn-font-size)
}

.btn-primary:active,
.btn-primary.active {
  background: var(--btn-bg-color);
  box-shadow: none;
  font-size: var(--btn-font-size);
}

.form-control::-webkit-input-placeholder {
  color: #C0C0C0;
}

#first-form-header {
  margin-top: 0px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

.border-right {
  border-right: 0px;
  margin: auto;
}

.border-left {
  border-left: 0px;
}

.col {
  padding: 0px 0px 0px 1px;
  font-size: 16px;
}

.col-sm-2 {
  border-left: 0px;
}

.table.table-sm {
  padding: 40px;
}

.form-header,
tr.th,
.tr.th.form-header {
  background-color: var(--main-header-bg-color);
  margin-top: 0px;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  font-weight: normal;
  color: var(--main-reverse-font-color);
  width: 100%;
}

.table-sub-header,
tr.th {
  background-color: var(--main-header-bg-color);
  margin-top: 0px;
  padding: 10px 0px 10px 10px;
  font-size: 16px;
  font-weight: normal;
  color: var(--main-reverse-font-color);
  width: 100%;
}

.form-row {
  padding: 0px 0px 20px 0px;
  background-color: var(--light-bg-color);
}

.grey-box {
  background-color: #f0f0f0;
  border: 2px solid #999;
}

.dk-green {
  background-color: #077867;
}

.main-bg {
  background-color: var(--main-bg-color);
}

.note-text {
  font-size: 12px;
}

.row {
  margin: 0px 1px 0px 1px;
}

.section-panel {
  margin: 0px 0px 15px 0px;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.sub-header {
  margin-top: 2px;
  margin-bottom: 5px;
  padding: 0px 0px 8px 2px;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  width: 100%;
  border-bottom: 1px solid #999;
}

.table-link {
  float: right;
  width: "120px";
  padding-right: 10px;
}